.videos-gallery-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    .videos-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        margin-left: 10%;
        margin-right: 10%;

        .video-container {
            position: relative;

            .video-icon {
                cursor: pointer;
                position: absolute;
                display: none;
            }

            .video-thumbnail {
                cursor: pointer;
                width: 100%;
                object-fit: cover;
            }

            .video-title {
                font-size: medium;
                font-weight: bold;
            }

            &:hover {
                .video-icon {
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .videos-gallery {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 576px) {
        .videos-gallery {
            grid-template-columns: repeat(1, 1fr);
            grid-column: auto;
        }
    }

}